/* Q#: All the elements have margin of 0 from the top, bottom, left, and right */
*
{
    margin: 0;
}

/* Q2: The <body> element has to be styled with : */
body
{
    /* Q2.a: Any colour you prefer for the text*/
    color: #10ADDE;
    /* Q2.b: A background image, you can use any one from the 7 samples of dark-woodx.jpg.*/
    background-image: url("../assets/images/dark-wood.jpg");
    /* Q2.c: The font family (face) is at least 3 options of any sans-serif fonts*/
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* Q2.d: Margin 0 for all the four sides (top, bottom, left, right)*/
    margin: 0;
}

/* Q3: Style the <div> element with class "container"*/
.container
{
    /* Q3.a: The width value can be 950px*/
    width: 950px;
    /* Q3.b+c:
    - 5px margin from top and bottom
    - The div has to be aligned centered based in the browser window*/
    margin: 5px auto;
    /* Q3.d: Apply any background colour that you prefer*/
    background-color: #31396E;
}

/* Q4: Style any element with class value of “content”*/
.content
{
    /* Q4.a: The line height (of the text) should be 1.4em*/
    line-height: 1.4em;
    /* Q4.b: 10px padding to all the sides*/
    padding: 10px;
}

/* Q5: Style the “header, nav, and footer” elements to share the following:*/
header,nav,footer
{
    /* Q5.a: Any Dark/Light background colour*/
    background-color: #10ADDE;
    /* Q5.a: Any Dark/Light foreground colour (normal font color)*/
    color: #31396E;
}

/* Q6: Style the unordered list element <ul> which is inside <nav> element*/
nav > ul
{
    /* Q6.a: 0 margin from all the sides*/
    margin: 0;
    /* Q6.b: 5px padding from all the sides*/
    padding: 5px;
}

/* Q7: Style the list items <li> of the main navigation (nav), or inside the nav element:*/
nav > ul > li
{
    /* Q7.a: To be displayed horizontally*/
    display: inline-block;
    /* Q7.b: Adding margin of 40px to the right of each list item*/
    padding-right: 40px;
    /* Q7.c: All the navigation items should be displayed as Uppercase*/
    text-transform: uppercase;
}

/* Q8: Add the 4 pseudo classes effect to the anchor tags/elements of the main navigation list items, the colour should be changed*/

/* Q8.a: The normal link -> :link*/
nav > ul > li > a:link
{
    color: #31396E;
}

/* Q8.b: The visited link -> :visited*/
nav > ul > li > a:visited
{
    color: #DB2AD9;
}

/* Q8.c: The hover link -> :hover*/
nav > ul > li > a:hover
{
    color: #662BE3;
}

/* Q8.d: The active link -> :active*/
nav > ul > li > a:active
{
    color: #DB3262;
}

/* Q9: Style any anchor <a> element*/
a
{
    /* Q9.a: Any colour you like*/
    color: #DB2AD9;
    /* Q9.b: No underline*/
    text-decoration: none;
}

/* Q10: Style the three headings: h1, h2, and h3:*/
h1,h2,h3
{
    /* Q10.a: To have margin of 10px for all the sides*/
    margin: 10px;
    /* Q10.b: With Uppercase letters*/
    text-transform: uppercase;
    /* Q10.c: Different dark/light colour*/
    color: #1CD686;
}

/* Q11: Style the custom class named “img-centre”*/
.img-centre
{
    display: block;
    /* Q11.a: Centre the image horizontally*/
    margin-left: auto;
    margin-right: auto;
    /* Q11.b: Having margin of 5px from the top and bottom*/
    margin-top: 5px;
    margin-bottom: 5px;
    /* Q11.c: Having padding of 2px to all the sides*/
    padding: 2px;
}


video
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

table
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
}

th,td
{
    border: 2px solid #8E0B9E;
    padding: 2px 5px;
    background-color: #4E1087;
}

th,tfoot > tr > td
{
    text-transform: uppercase;
    background-color: #009FA1;
    color: #470C8A;
}

dt
{
    font-weight: bold;
}

dd
{
    margin-left: 40px;
}

footer
{
    font-size: 80%;
    text-align: center;
    padding: 1px 0px;
}

iframe
{
    display: block;
    margin: 10px auto;
}

fieldset
{
    width: 500px;
    margin: 20px auto;
    border: 2px solid #8E0B9E;
    background-color: #4E1087;
}

legend
{
    font-style: italic;
    background-color: #009FA1;
    color: #470C8A;
    margin: 0px 10px;
    padding: 0px 5px;
    border: 2px solid #8E0B9E;
    border-radius: 5px;
}

input[type=submit]
{
    border: 2px solid #8E0B9E;
    padding: 5px;
    background-color: #009FA1;
    color: #470C8A;
}

input[type=submit]:hover
{
    border: 2px solid #8E0B9E;
    padding: 5px;
    background-color: #470C8A;
    color: #009FA1;
    cursor:pointer;
}