/* Q#: All the elements have margin of 0 from the top, bottom, left, and right */
*
{
    margin: 0;
}

/* Q2: The <body> element has to be styled with : */
body
{
    /* Q2.a: Any colour you prefer for the text*/
    color: #10ADDE;
    /* Q2.b: A background image, you can use any one from the 7 samples of dark-woodx.jpg.*/
    background-image: url("../assets/images/dark-wood.jpg");
    /* Q2.c: The font family (face) is at least 3 options of any sans-serif fonts*/
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* Q2.d: Margin 0 for all the four sides (top, bottom, left, right)*/
    margin: 0;
}

/* Q3: Style the <div> element with class "container"*/
.container
{
    /* Q3.a: The width value can be 950px*/
    width: 950px;
    /* Q3.b+c:
    - 5px margin from top and bottom
    - The div has to be aligned centered based in the browser window*/
    margin: 5px auto;
    /* Q3.d: Apply any background colour that you prefer*/
    background-color: #31396E;
}

/* Q4: Style any element with class value of “content”*/
.content
{
    /* Q4.a: The line height (of the text) should be 1.4em*/
    line-height: 1.4em;
    /* Q4.b: 10px padding to all the sides*/
    padding: 10px;
}

/* Q5: Style the “header, nav, and footer” elements to share the following:*/
header,nav,footer
{
    /* Q5.a: Any Dark/Light background colour*/
    background-color: #10ADDE;
    /* Q5.a: Any Dark/Light foreground colour (normal font color)*/
    color: #31396E;
}

/* Q6: Style the unordered list element <ul> which is inside <nav> element*/
nav > ul
{
    /* Q6.a: 0 margin from all the sides*/
    margin: 0;
    /* Q6.b: 5px padding from all the sides*/
    padding: 5px;
}

/* Q7: Style the list items <li> of the main navigation (nav), or inside the nav element:*/
nav > ul > li
{
    /* Q7.a: To be displayed horizontally*/
    display: inline-block;
    /* Q7.b: Adding margin of 40px to the right of each list item*/
    padding-right: 40px;
    /* Q7.c: All the navigation items should be displayed as Uppercase*/
    text-transform: uppercase;
}

/* Q8: Add the 4 pseudo classes effect to the anchor tags/elements of the main navigation list items, the colour should be changed*/

/* Q8.a: The normal link -> :link*/
nav > ul > li > a:link
{
    color: #31396E;
}

/* Q8.b: The visited link -> :visited*/
nav > ul > li > a:visited
{
    color: #DB2AD9;
}

/* Q8.c: The hover link -> :hover*/
nav > ul > li > a:hover
{
    color: #662BE3;
}

/* Q8.d: The active link -> :active*/
nav > ul > li > a:active
{
    color: #DB3262;
}

/* Q9: Style any anchor <a> element*/
a
{
    /* Q9.a: Any colour you like*/
    color: #DB2AD9;
    /* Q9.b: No underline*/
    text-decoration: none;
}

/* Q10: Style the three headings: h1, h2, and h3:*/
h1,h2,h3
{
    /* Q10.a: To have margin of 10px for all the sides*/
    margin: 10px;
    /* Q10.b: With Uppercase letters*/
    text-transform: uppercase;
    /* Q10.c: Different dark/light colour*/
    color: #1CD686;
}

/* Q11: Style the custom class named “img-centre”*/
.img-centre
{
    display: block;
    /* Q11.a: Centre the image horizontally*/
    margin-left: auto;
    margin-right: auto;
    /* Q11.b: Having margin of 5px from the top and bottom*/
    margin-top: 5px;
    margin-bottom: 5px;
    /* Q11.c: Having padding of 2px to all the sides*/
    padding: 2px;
}


/* Q12: Style the <audio> and <video> elements*/
video
{
    /* Q12.a+b:
    - Centre any audio or video element (horizontally)
    - With margin of 10px from the top and bottom*/
    display: block;
    margin: 10px auto;
}

/* Q13: Style any <table> element:*/
table
{
    /* Q13.a: The width is 800px*/
    width: 800px;
    /* Q13.b: Centre the table horizontally with 10px of margining from the top and bottom sides*/
    margin: 10px auto;
    /* Q13.c: The table border has to be collapsed*/
    border-collapse: collapse;
}

/* Q14: Style both the <td> and <th> element of any table:*/
th,td
{
    /* Q14.a: Having a border with any settings you like*/
    border: 2px solid #8E0B9E;
    /* Q14.b: Padding of 2px from the top/bottom and 5px from the left/right*/
    padding: 2px 5px;
    /* Q14.c: Any background colour (light/dark)*/
    background-color: #4E1087;
}

/* Q15: Style both the <th> inside any table and the <td> inside the <tfoot>*/
th,tfoot > tr > td
{
    /* Q15.a: With Uppercase letters*/
    text-transform: uppercase;
    /* Q15.b: Any background colour (dark/light)*/
    background-color: #009FA1;
    /* Q15.c: Any colour (dark/light)*/
    color: #470C8A;
}

/* Q16: Style any <dt> element:*/
dt
{
    /* Q16.a: Make it bold*/
    font-weight: bold;
}
dd
{
    margin-left: 40px;
}

/* Q17: Style any <footer> element:*/
footer
{
    /* Q17.a: Change the font size to be 80% of the default font size or of the font size of the body*/
    font-size: 80%;
    /* Q17.b: Align your text to the centre of the table*/
    text-align: center;
    /* Q17.c: Add 1px of padding from the top/bottom and 0 from the right/left*/
    padding: 1px 0px;
}

/* Q18: Style any <iframe> element:*/
iframe
{
    /* Q18.a: Add margin of 10px for top/bottom*/
    display: block;
    /* Q18.b: Centre the iframe horizontally*/
    margin: 10px auto;
}

/* Q19: Style any <fieldset> element:*/
fieldset
{
    /* Q19.a: Add width of 500px*/
    width: 500px;
    /* Q19.b: Add margin of 20px for top/bottom and centre the fieldset horizontally*/
    margin: 20px auto;
    /* Q19.c: Add border with any style you prefer*/
    border: 2px solid #8E0B9E;
    /* Q19.d: Add background colour*/
    background-color: #4E1087;
}

/* Q20: Style any <legend> element:*/
legend
{
    /* Q20.a: Italic font style*/
    font-style: italic;
    /* Q20.b: Different front and background colour*/
    background-color: #009FA1;
    color: #470C8A;
    /* Q20.c: Margin of 0 from the top/bottom and 10px from the left/right*/
    margin: 0px 10px;
    /* Q20.d: Padding of 0 from top/bottom and 5px from the left/right*/
    padding: 0px 5px;
    /* Q20.e: Give it a rounded border with any size or setting you prefer*/
    border: 2px solid #8E0B9E;
    border-radius: 5px;
}

/* Q21: Style the <input> element that has an attribute named “type” with value of “submit”:*/
input[type=submit]
{
    /* Q21.a: Border with any style you like*/
    border: 2px solid #8E0B9E;
    /* Q21.b: Padding of 5px for all the sides*/
    padding: 5px;
    /* Q21.c: Any background colour you prefer*/
    background-color: #009FA1;
    /* Q21.d: Any colour you prefer*/
    color: #470C8A;
}

/* Q22: Style the same <input> element that has an attribute named “type” with value of “submit” but with the pseudo class for the hover state*/
input[type=submit]:hover
{
    border: 2px solid #8E0B9E;
    padding: 5px;
    /* Q22.a: Change its text colour and its background colour*/
    background-color: #470C8A;
    color: #009FA1;
    /* Q22.b: Change the mouse pointer to look like a hand (the normal mouse icon for a link):*/
    cursor:pointer;
}